doctype html
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')

    title Pug
  h1 Pug - node template engine
  form#myAwesomeDropzone.dropzone(action='/file-upload')
    .fallback
      input(name='file' type='file' multiple='')
  p#ocr This is where the extract text gonna be.

script(src='javascripts/dropzone.js')
link(rel='stylesheet' href='stylesheets/dropzone.css')

script(type='text/javascript').
  Dropzone.options.myAwesomeDropzone = {
    dictDefaultMessage: 'Drop Here!',
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 5, // MB
    addRemoveLinks: true,
    accept: function(file, done) {
      let req = new XMLHttpRequest();
      let formData = new FormData();
      formData.append("avatar", file);       
      
      req.onreadystatechange = function() {
          if (req.readyState == XMLHttpRequest.DONE) {
              document.getElementById('ocr').innerHTML = req.responseText;
          }
      }
      
      req.open("POST", '/upload');
      req.send(formData);
    },
    removedfile: function(file) {
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  };
  